@page "/"
@inject IJSRuntime JsRuntime

<h1>LuxEvent - Gestor de Eventos</h1>

Plataforma de Gestão de Eventos desenvolvida como parte integrante da unidade curricular de Engenharia de Software 2, lecionada pelo professor Luis Teófilo.

<div class="alert alert-secondary mt-4">
  <span class="oi oi-pencil me-2" aria-hidden="true"></span>
  <strong>Estatísticas Gerais</strong>
  <div class="row">
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bem-Vindo</h5>
            Olá @userName você é um @userRole!
            @if (userRole == "User")
            {
              <p> Pode-se inscrever em eventos e atividades.</p> 
            }
            @if (userRole == "Organizer")
            {
              <p>Pode-se inscrever em eventos, atividades e pode fazer a criação de eventos tickets, tipos de tickets e atividades e a gestão de utilizadores.</p> 
            }
            @if (userRole == "Admin")
            {
              <p>Pode-se inscrever em eventos, atividades e pode fazer a criação de eventos tickets, tipos de tickets, atividades, categorias e a gestão de utilizadores.</p> 
            }
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Número total de inscrições em Eventos</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Top 10 Events</h5>
          <table class="table">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Número de eventos por categoria</h5>
          <table class="table" id="category-table">
            <thead>
            <tr>
              <th>Categoria</th>
              <th>Número de Eventos</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    @if (userRole == "Organizer" || userRole == "Admin")
    {
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Events</h5>
            <table class="table" id="my-events-table">
              <thead>
              <tr>
                <th>Events</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div> 
    }

  </div>
</div>

<!-- Add Activity Modal -->
<div class="modal fade" id="eventDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="event" class="form-label">Event</label>
            <select class="form-control" id="event"></select>
          </div>
          <div class="mb-3">
            <label for="activity" class="form-label">Activity</label>
            <select class="form-control" id="activity"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="RegistrationActivity()">Registration Activity</button>
      </div>
    </div>
  </div>
</div>


@code
{
  private string userName;
  private string userRole;
    
  protected override async Task OnInitializedAsync()
  {
    userName = await JsRuntime.InvokeAsync<string>("getUsername");
    userRole = await JsRuntime.InvokeAsync<string>("getRole");
    await JsRuntime.InvokeVoidAsync("getTotalParticipantsCount");
    await JsRuntime.InvokeVoidAsync("getTopEvents");
    await JsRuntime.InvokeVoidAsync("getCategoriesAndEventCounts");
    await JsRuntime.InvokeVoidAsync("getMyEvents");
  }
}