@page "/RegistrationActivities"
<h3>Registration Activities</h3>
@inject IJSRuntime JsRuntime

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openAddRegistrationActivity()">
  Registration Activity
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Event</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!-- Add Activity Modal -->
<div class="modal fade" id="registrationActivityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registration Activity</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="event" class="form-label">Event</label>
            <select class="form-control" id="event"></select>
          </div>
          <div class="mb-3">
            <label for="activity" class="form-label">Activity</label>
            <select class="form-control" id="activity"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="RegistrationActivity()">Registration Activity</button>
      </div>
    </div>
  </div>
</div>

@code
{
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await JsRuntime.InvokeVoidAsync("getRegistrationsActivities");
  }
}