@page "/Tickets"
<h3>Tickets</h3>
@inject IJSRuntime JsRuntime

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openAddTicketModal()">
  Add Ticket
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Evento</th>
      <th scope="col">Tiket Type</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!-- Add Ticket Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="event" class="form-label">Event</label>
            <select class="form-control" id="event"></select>
          </div>
          <div class="mb-3">
            <label for="ticketType" class="form-label">TicketType</label>
            <select class="form-control" id="ticketType"></select>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="CreateTicket()">Create Ticket</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Edit Modal -->
<div class="modal fade" id="ticketModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="priceEdit" class="form-label">Price</label>
            <input type="text" class="form-control" id="priceEdit" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="UpdateTicket()">Update Ticket</button>
      </div>
    </div>
  </div>
</div>

@code
{
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await JsRuntime.InvokeVoidAsync("getTickets");
  }
}