@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/MyPersonalInfo">@userName - @userRole</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string userName;
    private string userRole;
    
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("checkToken");
        userName = await JsRuntime.InvokeAsync<string>("getUsername");
        userRole = await JsRuntime.InvokeAsync<string>("getRole");
    }
}